/* Empty. Add your own CSS if you like */

p.level {
	font-size:150%;
	color: red;
	font-weight: bold;
}

p.attribute {
	color: green;
	font-size:150%;
	font-weight: bold;
}

p.type{ 
        color: blue;
        font-size:150%;
	font-weight: bold;
}

