<ion-view view-title="{{card.name}}">
  <ion-content class="padding">
    <h1>{{ card.name }}</h1>
    <img src="{{card.img}}" style="width: 240px; height: 240px">
   <p class="attribute">Attribute: {{ card.attribute }}</p>
   <p class="level">Level: {{ card.level }}</p>
   <p class="type">Type: {{ card.type }}</p>
    <div ng-repeat="p in card.prior">
	<ion-item href="#/tab/search/{{ p }}">{{ p }}</ion-item>
    </div>

    <div ng-repeat="p in card.next">
	<ion-item href="#/tab/search/{{ p }}">{{ p }}</ion-item>
    </div>
    <p>
      {{card.description}}
    </p>
  </ion-content>
</ion-view>
