<ion-view view-title="DigiMonDex">
<div>
<div class="item item-divider">Search</div>
      <div class="item item-body">
<label class="item item-input">
  <span class="input-label">Find</span>
<form>
  <input type="text" ng-model="searchterm">
<input class="button button-block button-positive" type="submit" name="submit" value="Search" ng-click="search()">
</label>
  </div>
   </div>
<form>
      <div class="item item-divider">Random Digimon</div>
      <div class="item item-body">
<div ng-repeat="c in card">
<h1>{{ c.name }}</h1>
       <ion-item href="#/tab/chats/{{ c._id }}"><img src="{{c.img}}"></ion-item>
        </div>
      </div>
</ion-view>
